/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
 color: #222;
 font-size: 1em;
 line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}

::selection {
 background: #b3d4fc;
 text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
 display: block;
 height: 1px;
 border: 0;
 border-top: 1px solid #ccc;
 margin: 1em 0;
 padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
 vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
 border: 0;
 margin: 0;
 padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
 resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
 margin: 0.2em 0;
 background: #ccc;
 color: #000;
 padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* UPPSOK CONTAINER */

.uppsok-container {
 max-width: 960px;
 position: relative;
 margin: 0 auto;
 padding-left: .5rem;
 padding-right: .5rem;
}


/* HEADER UPPSOK */

h1 {
  opacity: 0;
  -webkit-transition: opacity 4s; /* Safari */
   transition: opacity 4s;
}

/* Background */
svg {
 position: absolute;
}

figure {
 position: relative;
 display: flex !important;
 justify-content: space-around;
}

.bg-svg {
 position: absolute;
 width: 100%;
 background-image: url(../img/bg.svg);
 background-size: cover;
 height: 0;
 padding: 0;
 padding-bottom: 62%;
 background-repeat: no-repeat;
}


/* Flex object */

.uppsok-box {
 margin: 0 auto;
 display: flex;
 max-width: 960px;
 height: 100vh;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}


/* Logo */

.uppsok-logo {
 font-family: Nunito;
 position: absolute;
 color: #fff;
 font-weight: bold;
 font-size: 36px;
}

.uppsok-logo:hover {
 color: #fff;
}


/* Quote */

.uppsok-quote {
 /* Nous imaginons vos s: */
 font-family: Roboto;
 font-size: 36px;
 color: #8081EA;
 font-weight: 400;
 text-align: center;
}


/* Slide down mouse */

.uppsok-mouse {
 position: absolute;
 bottom: 0;
 padding: 1rem;
 -webkit-animation-name: mouse;
 /* Safari 4.0 - 8.0 */
 -webkit-animation-duration: 1.5s;
 /* Safari 4.0 - 8.0 */
 animation-name: mouse;
 animation-duration: 1.5s;
 animation-iteration-count: infinite;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes mouse {
 25% {
  opacity: 0.6;
 }
 50% {
  bottom: 5px;
 }
}


/* Standard syntax */

@keyframes mouse {
 25% {
  opacity: 0.6;
 }
 50% {
  bottom: 5px;
 }
}

/* Utilities */

.btn {
  max-width: 150px;
  padding:.3em 1em;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  -webkit-transition: background-color 1s, color 1s, border 1s; /* Safari */
    transition: background-color 1s, color 1s, border 1s;
}

.uppsokButton {
  background-color: #8081EA;
  color: #fff;
}

.uppsokButton:hover {
  background-color: #fff;
  color: #8081EA;
  border: 2px solid #8081EA;
}

.uppsokLightButton {
  background-color: #fff;
  color: #8081EA;
}

.uppsokLightButton:hover {
  background-color: #8081EA;
  color: #fff;
}

/* Section global */

.uppsok-content-section {
 margin: 0 auto;
}

.flex-section-content {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.content-section {
 padding: 25px;
 text-align: center;
}


/* Section Services */

.img-section {
 width: 60%;
}

.uppsok-flex {
 display: flex;
 align-items: center;
}

.uppsok-title-section {
 /* Services: */
 font-family: Roboto;
 font-size: 25px;
 font-weight: 900;
 color: #6D7CE7;
 padding: 12px;
}

.mainFontStyle {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  color: #8c8787;
}

.uppsok-para-section {
 font-family: Roboto;
 font-size: 16px;
 font-weight: 600;
 color: #8c8787;
 padding: 12px;
}

.uppsok-para-section-right {
 font-family: Roboto;
 font-size: 16px;
 font-weight: 600;
 color: #8c8787;
 padding: 12px;
}

.uppsok-title-section-right {
 /* Formations: */
 font-family: Roboto;
 font-size: 25px;
 font-weight: 900;
 color: #6D7CE7;
 padding: 12px;
}


/* Section Projects */

.uppsok-flex-invert {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.uppsok-projet-title {
 font-family: Roboto;
 color: #6D7CE7;
 font-weight: bold;
 text-align: center;
 font-size: 25px;
}

.all-slides {
  margin: 0 auto;
  text-align: center;
  display: flex !important;
  align-items: center;
  padding: 1rem;
}

.slide {
 height: 200px;
 margin: 0 auto;
}

.arrows {
color: #6D7CE7;
cursor: pointer;
}

.text-slide{
  color: #6D7CE7;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  font-weight: 500;
}
.img-slide {
  margin: 0 auto;
}

/* Section R&D */

.rd-svg {
 position: absolute;
 width: 99%;
 background-image: url(../img/rd.svg);
 background-size: cover;
 height: 0;
 padding: 0;
 padding-bottom: 38%;
 background-repeat: no-repeat;
}

.img-rd-section {
 margin: 0 auto;
 position: relative;
 text-align: center;
 width: 100%;
 padding-bottom: 8rem;
}

.microscope {
 padding-top: 3rem;
 width: 15%;
}

.uppsok-rd-title {
 font-family: Roboto;
 color: #fff;
 font-weight: bold;
 font-size: 25px;
}

.container-text {
 width: 70%;
 margin: 0 auto;
}

.uppsok-text-rd {
 color: #fff;
 padding: 1rem;
}

#RDsection {
  width: 100%;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 1.5s; /* Safari */
  transition: height 1.5s;
}

/* Cards */
.rdContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 90%;
  margin: 1em 0;
  text-align: center;
  margin-bottom: .3em;
}

.card img {
  width: 100%;
}

.cardContent {
  height: 100px;
  overflow: hidden;
}

.card h4 {
  font-weight: bold;
  color: #6D7CE7;
}

.card p {
  font-size: .8em;
}

/* Contact */

#contactForm input, textarea {
  display: block;
  margin: .5em .5em;
  border: 2px solid lightgrey;
  border-radius: 2px;
  width: 250px;
}

#contactForm input:focus, textarea:focus {
  border: 2px solid #8081EA;
}

#contactForm input {
  padding: .2em;
}

.formBlock {
  margin: 1em 0em;
}

/* Footer */

.bg-svg-footer {
 position: absolute;
 width: 100%;
 background-image: url(../img/bg-svg-footer.svg);
 background-size: cover;
 height: 0;
 padding: 0;
 padding-bottom: 22%;
 background-repeat: no-repeat;
}

.uppsok-right-footer {
 position: relative;
 text-align: center;
 color: #fff;
 font-family: Roboto;
 /* à changer */
 padding-top: 17rem;

}

/*Media query for smartphone size*/

@media screen and (min-width: 320px) {

  .uppsok-logo {
    margin-left: 0.5rem;
  }

}

/* tablets */
@media screen and (min-width: 500px) {

  .uppsok-logo {
     margin: 1.5rem;
  }

}

/* bigger screens */
@media screen and (min-width: 800px) {

  .uppsok-logo {
     margin: 2.5rem;
  }

  .flex-section-content {
    flex-direction: row;
  }

  .uppsok-flex-invert {
   flex-direction: row-reverse;
  }

  .uppsok-content-section {
   width: 800px;
 }

 .content-section {
  text-align: left;
 }

 .img-section {
  width: 25%;
 }

 .uppsok-para-section-right, .uppsok-title-section-right {
  text-align: right;
 }

 /* Cards */
 .card {
   width: 28%;
   margin: 1em;
 }

 .cardContent {
   height: 160px;
   overflow: hidden;
 }

 .card h4 {
   font-size: 1.5em;
 }

 .card p {
   font-size: 1em;
 }

 /* Contact */

 #contactForm input, textarea {
   width: 400px;
 }

}
/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
 display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
 clip: auto;
 height: auto;
 margin: 0;
 overflow: visible;
 position: static;
 width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
 visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
 content: " ";
 /* 1 */
 display: table;
 /* 2 */
}

.clearfix:after {
 clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
 /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
 /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
 *, *:before, *:after, *:first-letter, *:first-line {
  background: transparent !important;
  color: #000 !important;
  /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
  box-shadow: none !important;
  text-shadow: none !important;
 }
 a, a:visited {
  text-decoration: underline;
 }
 a[href]:after {
  content: " (" attr(href) ")";
 }
 abbr[title]:after {
  content: " (" attr(title) ")";
 }
 /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
 a[href^="#"]:after, a[href^="javascript:"]:after {
  content: "";
 }
 pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
 }
 /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
 thead {
  display: table-header-group;
 }
 tr, img {
  page-break-inside: avoid;
 }
 img {
  max-width: 100% !important;
 }
 p, h2, h3 {
  orphans: 3;
  widows: 3;
 }
 h2, h3 {
  page-break-after: avoid;
 }
}
